.admingomb
{
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 20%;
  display: flex;
  background-color: #007bff;
}
.admingomb :hover
{
  background-color: rgb(255, 0, 0);
}
.admingomb :active
{
  background-color: rgb(255, 127, 127);
}
.container-admin
{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.container-admin .sortores 
{
  width: 100% !important;
}
.container-admin .vonal 
{
  margin-top: 10px;
  background-color: rgb(7, 201, 36);
  width: 100% !important;
}
.gombkulso
{
  
}
.vl {
  border-left: 2px solid rgb(7, 201, 36);
  height: 4rem;
}
.admin_tx
{
  padding-bottom: 20px;
  color: rgb(7, 201, 36);
  margin-top: 30px;
}
.gombtomb
{
  margin-bottom: 50px;
}
@media (max-width:1000px) {
  .admin_doboz
  {
    max-width: 80% !important;
  }
}
.options
{
  margin-right: 10px;
}
.optionchkbox{
  margin-right: 3px;
}
@media (max-width:570px) {
  .admingomb
{
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 20%;
  display: flex;
  background-color: #007bff;
  font-size: 60%;
}
  .container-admin
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
  .gombtomb
  {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
}
.kiirasok
{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.197);
  margin-bottom: 20px;
  min-height: 40vh;
}
.admin_cimke
{
  margin-right: 1em;
  color: aqua;
  margin-top: 10px;
  margin-bottom: 0 !important;
}
.list-group
{
  list-style-type: disc;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}

.list-group-item
{
background-color: rgb(13, 98, 143);
border-style: solid;
border-color: rgb(0, 47, 32);
border-width: 2px;
margin-bottom: 10px !important;
}
.list-group-item p
{
color: black;
}
.admin_bevitel
{
  width: 90%;
  height: 100%;
  background-color: #d8e8ff98;
}
.admin_doboz
{
  margin-left: 10px;
  margin-right: -10px;
  max-width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.admin_focim
{
  color: rgb(55, 215, 84);
  margin-bottom: 20px;
}
.editdiv
{
  margin-top: 20px;
}
.orderedit
{
  margin-left: auto;  
  margin-right: auto;
  display: flex;
  background-color: rgb(156, 157, 157);
}
.lebegLabel
{
 margin-top: 15px;
}
.lebegInput
{
 width: 30% !important;
}
.lebegBTN
{
  margin-top: 10px;
}
.lebegContent
{
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.lebeg
{
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height:fit-content;
  padding-bottom: 20px;
  top: 35rem;
  background-color: indianred;
}
.orders .lebeg
{
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height:fit-content;
  padding-bottom: 20px;
  top: 35rem;
  background-color: rgb(57, 218, 86);
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.orders .lebeg p
{
  color: black;
}
.detailedOrder
{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 2px;
  background-color: rgb(40, 151, 60);
}
@media (max-width:640px) {
  .lebeg
  {
  
    width:50%;
  }
  .lebegLabel
  {
    font-size: 12px;
    word-wrap: break-word
  }
  .lebegBTN
  {
    font-size: 12px;
  }
}
.number
{
 width: 40%;
}
.savebtn
{
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(64, 64, 64);
  background-color: rgb(235, 131, 112);
}