.products
{
    position:absolute;
   top: 15%;
    width:100%;
    height:60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@media (min-width:2200px) {
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    transform: scale(1) !important;
  }
  .modal-content-detail
  {
    margin-top: 0 !important;
    flex-direction: column;
  }
  .searchbar{
    transform: scale(1.4);
    }
}
@media (min-width:2600px) {
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    transform: scale(1.2) !important;
  }
  .modal-content-detail
  {
    margin-top: 2rem !important;
    flex-direction: column;
  }
}

@media (max-width:767px) {
  .single-product-card
  {
    width: 50%;
  }
  .section-products .single-product .part-1 {
    max-height: 230px !important;
}
.dot {
  height: 10px !important;
  width: 10px !important;
}
.close {
  font-size: 60px !important;
}
.modalNumberBTN
{
  font-size: 15px;
}
}
@media (max-width:600px) {
  .section-products .single-product .part-1 {
    max-height: 200px !important;
}
.dot {
  height: 8px !important;
  width: 8px !important;
}
.close {
  font-size: 50px !important;
}
.modalNumberBTN
{
  font-size: 10px;
}
}


@media (max-width:400px) {
  .section-products .single-product .part-1 {
    max-height: 150px !important;
    
}
.dot {
  height: 6px !important;
  width: 6px !important;
}
.close {
  font-size: 40px !important;
}
.modalNumberBTN
{
  font-size: 7px;
}
.modalNumberNum
{
  font-size: 10px;
}
}


@media (max-width:300px) {
  .section-products .single-product .part-1 {
    max-height: 100px !important;
}
.dot {
  height: 4px !important;
  width: 4px !important;
}
.close {
  font-size: 20px !important;
}
.modalNumberBTN
{
  font-size: 5px;
}
.modalNumberNum
{
  font-size: 10px;
}
}

body {
    font-family: "Poppins", sans-serif;
    color: #162012;
    overflow-y:scroll;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 35px 0 100px;
    min-height: 100ch;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color:#5aed2ad6; 
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(33, 33, 33), 1px -1px 0 rgb(33, 33, 33), -1px 1px 0 rgb(33, 33, 33), 1px 1px 0 rgb(33, 33, 33);
    
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}
.container-product
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;

}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1 {
		transform:  rotate(2deg);
       
}
.section-products .single-product .part-1::before {
    
    background: var(--tooltip-string) ;
    background:  no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}


.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 60px;
    height:60px;
    line-height: 60px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 15rem; /* Location of the box */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-inside {
    
    transform: translateY(20rem);
    display: block;
    background-color: #58df9c;
    margin: auto;
    padding: 20px;
    border: 4px solid #888;
    width: 60%;
    border-radius: 5%;
  }
  .modal-content {
    background-color: #58df9c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    border: none;
    flex-direction: column;
    text-size-adjust: auto;
  }
  .modalIMG
  {
    width: 100%;
    max-height: 20rem;
    margin-right: 4rem;
    border-width: 3px;
    border-color: #444444;
    border-style: solid;
  }
  .modalName
  {
    font-size: 30px;
    font-size: 3.0vw;
    font-weight: bold;
    margin-bottom: 5px;
    color: #001855;
    word-wrap: break-word;
    width: 100%;
  }
  .modalDesc
  {
    font-size: 30px;
    font-size: 2.0vw;
    padding-bottom:10px;
    color: #25272c;
    word-wrap: break-word;
    width: 80%;
  }
  
  .modal-content-detail
  {
    flex-direction: column;
  }
  .modalPrice
  {
    font-size: 30px;
    font-size: 2.5vw;
    font-weight: bold;
    color: #000985;
    word-wrap: break-word;
    width: 11em;
  }
  .modalNumberNum
  {
    width: 20%;
    margin-right: 10px;
  }
  .modalNumDIV
  {
    padding-left:10%    ;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right !important;
    font-size: 60px;
    font-weight: bold;
  }
.modalNumberBTN
{
  border-style: solid;
  border-width: 2px;
}
  @media (min-width:850px) {
    .modal-inside {
      transform: translateY(12rem);
      display: block;
      background-color: #58df9c;
      margin: auto;
      padding: 20px;
      border: 4px solid #888;
      width: 50%;
      border-radius: 5%;
    }
    .modalPrice
    {
      font-size: 30px;
      font-size: 1.5vw;
      font-weight: bold;
      color: #000985;
      word-wrap: break-word;
      width: 11em;
    }
    .modalName
  {
    font-size: 30px;
    font-size: 2.0vw;
    font-weight: bold;
    margin-bottom: 5px;
    color: #001855;
    word-wrap: break-word;
    width: 100%;
  }
  .modalDesc
  {
    font-size: 30px;
    font-size: 1.0vw;
    padding-bottom:10px;
    color: #25272c;
    word-wrap: break-word;
    width: 80%;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    transform: scale(0.8);
  }
  .modal-content-detail
  {
    margin-top: -2rem;
    flex-direction: column;
  }
    
  }
  @media (min-width:2000px) {
    .modal-inside {
      transform: translateY(20rem);
      display: block;
      background-color: #58df9c;
      margin: auto;
      padding: 20px;
      border: 4px solid #888;
      width: 50%;
      border-radius: 5%;
    }
  }

  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .IMGactive, .dot:hover { 
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .fade:not(.show) {
    opacity: 100;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }












  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #819ede;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.2s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 50%;
    caret-color:red;
    transition: width 1s cubic-bezier(0.2, 0.7, 0.73, 0.63);
    
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    margin-left: 10px;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    .keresosavdiv
    {
        padding-top: 35px;
        justify-content: center !important;
        display: flex !important;
    }
    .keresModValaszt
    {
        width: 70%;
    }