

.padding {
  padding-top: 5rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}
.userTX
{
  border-bottom: 2px solid rgb(8, 17, 195);
  margin-bottom: 10px;
}
.userShippingBTN
{
  width: fit-content;
  padding: 3px;
  color: black;
  background-color: rgb(77, 170, 187);
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(52, 60, 213);
}
.userShippingBTN:hover
{
  background-color: rgb(13, 189, 19);
}
.pwresetbtn
{
  width: fit-content;
  padding: 3px;
  background-color: rgb(230, 126, 131);
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(52, 60, 213);
}
.pwresetbtn:hover
{
  background-color: rgb(255, 0, 0);
}
.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#50fa78), to(#169dce));
  background: linear-gradient(to right, #36d2cdd6, #0c9ecb);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 12px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width:1200px) {
  .container-profilecard
  {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3rem;
    width: 100%;
  }
}
